
<ion-content [fullscreen]="true">
  <div class="container">
    <div class="header">
      <ion-title class="title">Enter your email</ion-title>
      <p>To receive a reset password</p>
    </div>

    <ion-item>
      <ion-input type="email" id="email" name="email" placeholder="Enter your email"/>
    </ion-item>
  </div>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['/home']">
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
