
<ion-content [fullscreen]="true">

  <form>

    <div class="ion-padding">
      <div class="login-welcome-row">
        <ion-img  class="login-welcome" src="../../../assets/images/login_page.jpg" alt="login_page" />
      </div>

      <ion-item>
        <ion-input type="email" id="email" name="email" placeholder="Email"/>
        <ion-img alt="Email Icon" src="../../../assets/images/email.svg"/>
      </ion-item>
      <ion-item>
        <ion-input id="password" type="password" name="password" placeholder="Password"/>
        <ion-img alt="Password Icon" title="Password Icon" src="../../../assets/images/password.svg"/>
      </ion-item>

      <div class="my-form__actions">
        <div class="my-form__row">
          <p>Did you forget your password?</p>
          <a [routerLink]="['/reset-password']" >Reset Password</a>
        </div>
        <div class="my-form__signup">
          <a [routerLink]="['/signup']">Create Account</a>
        </div>
      </div>
    </div>

    <ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button [routerLink]="['/home']">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>



</ion-content>




