@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import "../../../assets/styles/mixins";

$primary: #DD946F;


ion-content {
  --background: linear-gradient(to right, #6633A9 0%, #5833A5 50%, #4B32A7 100%);
  .arrow-back {
    position: absolute;
    font-size: 30px;
    color: #f8edd9;
    padding: 10px 10px 10px 10px;
    border-radius: 50%;
    left: 10px;
    top: 10px;
  }
  .container {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 160px;

      .title {
        padding: 0;
        position: static;
        letter-spacing: 1.5px;
        font-size: 25px;
        color: #f8edd9;
        margin-bottom: 25px;
      }


  ion-item {
    --background: linear-gradient(to right, #6633A9 0%, #5833A5 50%, #4B32A7 100%);
    //--ion-background-color: #f8edd9;
    margin-bottom: 16px;
    position: relative;
    --padding-end: 0;
    --padding-start: 0;
    //--inner-border-width: 0;

    .item-bottom {
      padding-bottom: 0;
    }

    ion-input {
      height: 30px;
      outline: 0;
      vertical-align: middle;
      box-sizing: border-box;
      --padding-bottom: 0;
      --padding-end: 10px;
      --padding-start: 10px;
      --padding-top: 10px;
      --color: #CD7D7C;

    }


    ion-img {
      width: 32px;
      height: 32px;
    }
  }

  .my-form__actions {
    margin-top: 30px;
    text-align: center;

    .my-form__row {
      margin-bottom: 25px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        max-width: 238px;
        min-width: 120px;
        margin: 0;
        text-align: left;
        color: #f8edd9;

      }

      a {
        font-weight: 600;
        color: $primary
      }
    }

    .my-form__signup a {
      font-weight: 600;
      font-size: 20px;
      color: $primary;
      text-decoration: none;
    }
  }
}

}


ion-fab-button {
  @include fab-button-green
}



